div.include
    if !book
          div.book_link
            p This page has been stored in the Great Library of Caelano. You can read it by clicking 
              |  <a href="/book/#{slug}">here</a>. (Yes, puny mortal. This is a permalink)
    else
          div.book_link
            p This page has been retrieved from the Great Library of Caelano. <a href="/book/#{slug}">This is its permalink.</a>


