doctype 5
html
  head
    title Cthulhu Mythos Json Generator --  #{title}
    meta(name='description' content='A Json-Powered Cthulhu Mythos Generator written using node.js . Creates monsters, peoples, elder gods, names, adjectives')
    link(href='http://fonts.googleapis.com/css?family=Vollkorn:400italic,700italic,400,700' rel='stylesheet' type='text/css')
    link(rel='stylesheet', href='/stylesheets/typography.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="canonical", href="http://mythos.lamboz.net");
    | <script type="text/javascript" src="https://apis.google.com/js/plusone.js">
    | </script>
    include shiv.html
    
  body
    .page-container
        nav
           ul
              li <a href="/">Home</a>
              li <a href="/api">Cthulhoid API</a>
              li <a href="/about">About Mythos...</a>

        block content
        footer
          div.inner-footer
            div.cell-1
              div.credits Built using <a href="/about#tools">a lot of tools from Beyond</a> by Lamboz the Great Old One.
              div.github <a href="https://github.com/maxlambertini/mythos_service">Fork me on Github!</a>
            div.cell-2
              div.paypal  
                  div.text Be a true believer! contribute to make the Stars Right! 
                  div.buttons
                      include paypal.html
              div.social 
                  div.text Or at least, please share!
                  div.buttons
                      include socials.html
