extends layout

block content 
  header.top
    h1=title 
    div.subblurb.
      HPL lands were inhabited by strange folks indeed
 
  div.blurb
    ul.blurbize
      each pp  in peoples
        li= pp


